.f-wrapper .container {
    padding-top: 5rem;
    padding-bottom: 2rem;
}

.f-wrapper {
    background-color: #000;
}

.f-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.f-container .title {
    color: white;
}

.f-container .emailBox {
    max-width: 36rem;
}

.f-container hr {
    border-color: whitesmoke;
    width: 100%;
}

.f-menu {
    display: flex;
    justify-content: center; /* Center items horizontally */
    flex-wrap: wrap;
    gap: 10rem; /* Space between items */
}

.f-menu a {
    color: aliceblue;
    display: flex; /* Change to flex */
    flex-direction: column; /* Stack icon above text */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center content */
    text-decoration: none;
    transition: transform 0.2s ease;
    width: 100px; /* Fixed width for uniformity */
}

.f-menu a:hover {
    transform: scale(1.05); /* Scale on hover */
}

.f-menu span {
    color: white;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: bold;
    opacity: 1; /* Ensure text is visible */
    transition: opacity 0.2s ease; /* Smooth transition for text visibility */
}

/* Add additional styles for icon visibility */
.f-menu a span:first-child {
    opacity: 0; /* Hide icon by default */
}

.f-menu a:hover span:first-child {
    opacity: 1; /* Show icon on hover */
}

.f-menu a:hover span:last-child {
    opacity: 0; /* Hide text on hover */
}


@media (max-width: 990px) {
    .f-menu {
        flex-direction: column;
        gap: 2rem;
        align-items: center;
    }
}